.card {
    &__wrapper {
        border: 4px solid rgb(63, 27, 155);
        border-radius: 4px;
        display: flex;
        flex-direction: column;

        img {
            border: 2px solid #D7CBFF;
        }
    }
    &__button {
        border-radius: 5px;
        box-sizing: border-box;
        background: rgb(63, 27, 155);
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        letter-spacing: 0.1rem;
        margin: 0 auto 10px;
    
        a {
            text-decoration: none;
        }
    }
    
    &__title {
        color: #460662;
        text-decoration: none;
        flex: 1 1 auto;
        text-align: center;
        
        a {
            text-decoration: none;
        }
    }


}